/* coin */
#coin {
    position: relative;
    transition: transform 1s ease-in;
    transform-style: preserve-3d;
    width: 225px;
    height: 225px;
}

.side {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    background-image: url("../figures/front.png");
    background-position: center;
    background-size: cover;
    z-index: 10;
}

.back {
    background-image: url("../figures/back.png");
    background-position: center;
    background-size: cover;
    transform: rotateX(-180deg);
}

/* coin animation */
.flipFront {
    -webkit-animation: resultFront 2s ease 0s forwards normal;
    -moz-animation: resultFront 2s ease 0s forwards normal;
    animation: resultFront 2s ease 0s forwards normal;
}

.flipBack {
    -webkit-animation: resultBack 2s ease 0s forwards normal;
    -moz-animation: resultBack 2s ease 0s forwards normal;
    animation: resultBack 2s ease 0s forwards normal;
}
/* result is front side */
@-webkit-keyframes resultFront {
    0% { transform: rotateX(0) scale(1); }

    50% { transform: rotateX(900deg) scale(1.5); }

    100% { transform: rotateX(1800deg) scale(1); }
}
@keyframes resultFront {
    0% { transform: rotateX(0) scale(1); }

    50% { transform: rotateX(900deg) scale(1.5); }

    100% { transform: rotateX(1800deg) scale(1); }
}

/* result is back side */
@-webkit-keyframes resultBack {
    0% { transform: rotateX(0) scale(1); }

    50% { transform: rotateX(990deg) scale(1.5); }

    100% { transform: rotateX(1980deg) scale(1); }
}
@keyframes resultBack {
    0% { transform: rotateX(0) scale(1); }

    50% { transform: rotateX(990deg) scale(1.5); }

    100% { transform: rotateX(1980deg) scale(1); }
}
