
#crossroadsContainer {
    position: relative;
    height: 350px;
    transform-origin: center bottom;
}

.arrow {
    position: absolute;
    left: 40%;
    transition: all 1s ease-in-out;
    transform: rotate(0);
    transform-origin: center bottom;
}

@media only screen and (max-width:475px) {
    .arrow {
        width: 51px;
        left: 40%;
        bottom: 10px;
    }
}