
#crossroadsContainer {
    position: relative;
    height: 350px;
    transform-origin: center bottom;
}

.arrow {
    position: absolute;
    left: 41%;
    transition: all 1s ease-in-out;
    transform: rotate(0);
    transform-origin: center bottom;
}

#crossroadsForm .numberInput {
    width: 50%;
}

@media only screen and (max-width:475px) {
    .arrow {
        width: 51px;
        bottom: 10px;
    }


}