* {
    margin: 0;
    padding: 0;
}

body {
    background: #333;
}

a {
    text-decoration: none;
}

.link {
    color: #00a30a;
}

.link:hover {
    color: #00d30a;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 100%;
    text-align: center;
    font-family: Roboto, sans-serif;
    color: #d5d5d5;
    font-size: 1.3rem;
    padding: 8rem
}

.container p {
    padding: 1.8rem;
}

.primary {
    border: 0;
    border-radius: 8px;
    background: #00a30a;
    font-size: 1.8rem;
    padding: 13px 18px;
    margin-top: 5rem;
    cursor: pointer;
    color: #333;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.35s ease-out;
}

.primary:hover {
    background: #00d30a;
}

.error {
    background: rgba(255, 139, 139, 0.84);
    border-radius: 8px;
    color: #fff;
}

input {
    text-align: center;
    margin: 1rem 0;
    padding: 10px 15px;
    font-size: 1.5rem;
    border: 0;
    border-radius: 8px;
}

.iconContainer {
    display: flex;
    justify-content: center;
}

.iconContainer a {
    padding: 1rem;
}

#info, #language {
    color: #fff;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    cursor: pointer;
}

#info:hover, #language:hover {
    color: #00a30a;
}

#language {
    font-size: 1.5rem;
    right: 0;
    left: unset;
}

.alert {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 1rem;
    padding: 1rem;
    background-color: #95de9c;
    color: #333;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 12px;
}

@media only screen and (max-width: 750px) {
    .container {
        padding: 4rem;
    }
}

@media only screen and (max-width: 450px) {
    .container {
        padding: 0.5rem;
    }
}
